#appBg {
	height: 450px;
	width: 300px;
	border: 4px solid #5ee7df;
	border-radius: 30px;
	margin: auto;
	margin-top: 5%;
}
#appBg form {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
	border-radius: 20px;
}

#appBg input[type=textfield] {
	height: 25%;
	width: 90%;
	cursor: default;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	color: #000;
	padding: 15px;
	text-align: right;
	font-size: 55px;
	border: 0;
	outline: none;
	border-radius: 20px;
	
}

#appBg input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #000;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#appBg .orange {
	background-color: #F0B164 !important;
	color: white !important;

}

#appBg .gray {
	background-color: rgba(0, 0, 10, .099) !important;
	color: white !important;
}